page-home {
  .list-md ion-item.item-block {
    border-bottom: 1px solid #dedede;
    margin-top: 1.5em;
    padding-bottom: 1em;
    .item-inner {
      border: 0;
    }
    .audio-track-progress-bar {
      margin-bottom: 0.25em;
    }
  }
}
